<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img
      src="<%= image.url %>"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-1"
    />
    <span class="brand-text font-weight-light">ADMIN: <%= uname %></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->

    <!-- SidebarSearch Form -->
    <br />
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="fa-solid fa-book"></i>
            <p>
              Course
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/courseDisplay" class="nav-link active">
                <i class="fa-solid fa-display"></i>
                <p>Display</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/approvedCourse" class="nav-link active">
                <i class="fa-solid fa-check"></i>
                <p>Approved</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/rejectedCourse" class="nav-link active">
                <i class="fa-solid fa-circle-xmark"></i>
                <p>Rejected</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="fa-regular fa-user"></i>
            <p>
              Profile
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/chngpass" class="nav-link active">
                <i class="fa-solid fa-lock"></i>
                <p>Change Password</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/admProfile" class="nav-link active">
                <i class="fa-solid fa-user"></i>
                <p>Update Profile</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">
            <i
              class="fa-solid fa-power-off"
              style="
                background-color: red;
                padding: 10px;
                border-radius: 10px;
                color: white;
              "
            >
            </i>
            <p>
              Logout
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
