<%- include("./header.ejs") %>
    <!-- carousel start -->
    <div class="carousel slide" data-bs-ride="carousel" id="pn">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#pn" data-bs-slide-to="0" class="active"> </button>
              <button type="button" data-bs-target="#pn" data-bs-slide-to="1"> </button>
              <button type="button" data-bs-target="#pn" data-bs-slide-to="2"> </button>
          </div>
          <!-- div carousel indicator ends -->
          <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="4000">
                  <img src="image/classroom.jpg" alt="" class="w-100 sl">
              </div>
              <div class="carousel-item " data-bs-interval="4000">
                  <img src="image/building.jpg" alt="" class="w-100 sl">
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                  <img src="image/Ranking.jpg" alt="" class="w-100 sl">
              </div>
          </div>
          <!-- carousel inner ends -->
          <button class="carousel-control-prev" type="button" data-bs-target="#pn" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#pn" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
          </button>
      </div>
      <!-- carousel ends -->
      <!-- main body start -->
      <div class="main">
          <div class="container">
              <div class="row" style="padding: 0 100px;padding-top:40px;">
                  <center>
                      <h1 class="text-success mt-4">About <b class="text-danger">ITM</b></h1>
                      <p class="mt-4" style="text-align: justify;color:rgb(61, 53, 53);font-weight:400;font-size:17px;">
                          Welcome to ITM University Gwalior.<br>
                          You’re probably already aware that ITM University Gwalior is one of the best universities in
                          India in terms of its academic reputation and infrastructure, but did you also know:<br><br>
  
                          ITM University Gwalior offers virtually unlimited opportunities for inquiry, discovery, and
                          education with uniquely crafted educational programmes — and yet is a close community that
                          provides a real sense of belonging. Here it is like playing under the most inspiring captain who
                          brings his team together and infuses it with a great sense of energy and motivation during all
                          times. ITM University is a multidisciplinary university known for its quality of research and
                          teaching across the academic spectrum, with subjects spanning the sciences, engineering,
                          management, fine arts, social sciences, arts, nursing etc.<br><br>
  
                          It has been at the forefront of learning, teaching and research and leader in many different
                          fields in its educational endeavour. In a relatively short-time span it has created an image for
                          its excellence as an institution of higher learning through outstanding teaching and world-class
                          research so as to produce well-rounded graduates with lifelong abilities to provide leadership
                          within the societies they serve. We have a well-deserved reputation for last 15 years for
                          excellence, as demonstrated by host of educational institutions already operating under out
                          flagship banner i.e., ITM Universe.<br><br>
  
                          ITM University Gwalior is ranked among the best as Platinum Category Engineering Institute in
                          India by AICTE, Ministry of HRD, Govt. of India in 2017.<br></p>
                  </center>
              </div>
          </div>
          <div class="container mt-4">
              <div class="row text-center" style="padding: 0 100px;">
                  <h1 class="text-danger mb-5">High<span class="text-warning">lights</span></h1>
                  <div class="col-md-4">
                      <div class="card shadow pulse transition-all high">
                          <h3 class="mt-5" style="color:rgb(249, 43, 77); font-size:30px;font-weight:700;">15</h3>
                          <b style="font-weight:700;font-size:21px;">Modern Campus, <br>Meeting World Standard</b>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card shadow high">
                          <h3 class="mt-5" style="color:rgb(249, 43, 77);font-size:30px;font-weight:700;">20,000+</h3>
                          <b style="font-weight:700;font-size:21px;">Current Student Pursuing <br>Their Dreams</b>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card shadow high">
                          <h3 class="mt-5" style="color:rgb(249, 43, 77);font-size:30px;font-weight:700;">2 Lakh +</h3>
                          <b style="font-weight:700;font-size:21px;">Alumini Spread Across The Globe</b>
                      </div>
                  </div>
              </div>
              <div class="row text-center mt-4" style="padding: 0 100px;">
                  <div class="col-md-4">
                      <div class="card shadow pulse transition-all high">
                          <h3 class="mt-5" style="color:rgb(249, 43, 77);font-size:30px;font-weight:700;">Global Exposure
                          </h3>
                          <b style="font-weight:700;font-size:21px;">Tie's Up with Top Foriegn Universities</b>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card shadow high">
                          <h3 class="mt-5" style="color:rgb(249, 43, 77);font-size:30px;font-weight:700;">1500+</h3>
                          <b style="font-weight:700;font-size:21px;">Staff & Faculty TO, Dedicatd To Deliver</b>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card shadow high">
                          <h3 class="mt-5" style="color:rgb(249, 43, 77);font-size:30px;font-weight:700;">10,000+</h3>
                          <b style="font-weight:700;font-size:21px;">Enrolled in 'Skill-Based' Courses</b>
                      </div>
                  </div>
              </div><br><br>
          </div>
          <div class="container">
              <div class="row" style="padding: 0 100px;padding-top:20px;">
                  <h2 class="text-center text-danger mb-5">FAQ`s</h2>
                  <center>
                      <div class="accordion" id="accordionExample">
                          <div class="accordion-item mb-2" style="border: none;border-radius:20px">
                              <h2 class="accordion-header" id="headingOne">
                                  <button class="accordion-button collapsed" style="border: none;border-radius:10px"
                                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                      aria-expanded="false" aria-controls="collapseOne">
                                      1. I am finishing std XII this year with humanities, want to do MBA HR, please
                                      guide.
                                  </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                  data-bs-parent="#accordionExample">
                                  <div class="accordion-body" style="text-align: justify;">
                                      <strong>Answer:</strong> As the first step, I would recommend that you
                                      pursue your graduation with subjects such as psychology, sociology, economics &
                                      such. These could be a great foundation for your further interest & intent to do
                                      your MBA in HR. You may also focus on developing excellence in your communication
                                      skills, counseling skills and presentation skills.
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item mb-2" style="border: none;border-radius:20px">
                              <h2 class="accordion-header" id="headingTwo">
                                  <button class="accordion-button collapsed" style="border: none;border-radius:10px"
                                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                      aria-expanded="false" aria-controls="collapseTwo">
                                      2. I am doing my second year MBA in finance stream. Could you suggest future
                                      possibilities for me.
                                  </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo"
                                  data-bs-parent="#accordionExample">
                                  <div class="accordion-body" style="text-align: justify;">
                                      <strong>Answer:</strong> Since you are doing an MBA in finance, it would be good to
                                      decide if your interests lie in corporate finance or financial services domain. You
                                      can then plan to do a few add on courses such as IPR, derivatives & technical
                                      analysis & such that will help you build a robust career. Start preparing for the
                                      campus interviews and improve your general awareness and update your knowledge about
                                      the Indian & international economy. You can seek jobs in a bank, insurance company
                                      or any corporate depending upon your interested areas of work.
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item mb-2" style="border: none;border-radius:20px">
                              <h2 class="accordion-header" id="headingThree">
                                  <button class="accordion-button collapsed" style="border: none;border-radius:10px"
                                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                      aria-expanded="false" aria-controls="collapseThree">
                                      3. I have cleared my CBSE Board exam with 66%.l wish to pursue with accounting and
                                      business studies. Please advise on a roadmap for me to get into any reputed
                                      university with my marks.
                                  </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                  data-bs-parent="#accordionExample">
                                  <div class="accordion-body" style="text-align: justify;">
                                      <strong>Answer: </strong> You can apply to the local universities to study a BBA or
                                      BMS or such courses. Any of these will be an excellent foundation for pursuing your
                                      MBA at the masters level. Upon completion of your bachelors, you can decide on the
                                      specialisation area for your MBA. The reputation of the university you study in is
                                      important BUT more important is your performance in the university that you join.
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item mb-2" style="border: none;border-radius:10px;">
                              <h2 class="accordion-header" id="headingFour">
                                  <button class="accordion-button collapsed" style="border: none;border-radius:10px"
                                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                      aria-expanded="false" aria-controls="collapseFour">
                                      4. If i am interested in becoming a business analyst which is a post grad course
                                      what should i do after 12.
                                  </button>
                              </h2>
                              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                  data-bs-parent="#accordionExample">
                                  <div class="accordion-body" style="text-align: justify;">
                                      <strong>Answer:</strong> After XII, you need to complete your graduation and could
                                      pursue engineering as an option ( 4 year degree ). Alternatively you may consider a
                                      bachelors in mathematics and statistics ( 3 year degree ). You may them consider a
                                      MBA In business analytics from the IIM's or consider B schools such as ITM.
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item mb-2" style="border: none;border-radius:10px">
                              <h2 class="accordion-header" id="headingFive">
                                  <button class="accordion-button collapsed" style="border: none;border-radius:10px;"
                                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                      aria-expanded="false" aria-controls="collapseFive">
                                      5. Thank You for a wonderful session today, My daughter wants to pursue her career
                                      in Industrial psychology, Please advise her the career options in India My daughter
                                      has appeared for the board exams in March 2020. Rajesh.
                                  </button>
                              </h2>
                              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                  data-bs-parent="#acoordionExample">
                                  <div class="accordion-body" style="text-align: justify;">
                                      <strong>Answer:</strong> The first step for your daughter is to complete her
                                      graduation in clinical psychology from any university of her choice such as Mumbai
                                      University ( www.mu.ac.in ). She can then apply to institutions such as TISS, SNDT,
                                      and such to pursue her masters. She could also consider an MBA in HR from TISS, XLRI,
                                      ITM & such. In case she wishes to go abroad hov, then she may consider writing her
                                      GMAT & TOEFL during her final year of graduation and then apply to universities
                                      abroad.
                                  </div>
                              </div>
                          </div>
  
                      </div>
                  </center>
              </div>
          </div><br><br>
      </div><!--main ends-->
      <!-- main body ends -->

<%- include("./footer.ejs")%>