<%- include("./header.ejs") %>
  <!-- main body start -->
  <div class="main">
          <div class="container mt-5">
              <div class="row mt-5">
                  <h1 class="text-center text-danger mt-4 mb-4">Contact Us</h1>
                  <div class="card shadow mt-4">
                      <div class="row">
                          <div class="col-md-6 mt-5">
                              <h2 class="text-center text-success">Ask Anything.</h2>
                              <form action="" method="post" class="form_setting">
                                 <div class="mt-4">
                                  <label for="">Name</label>
                                  <input type="text" name="" id="" class="form-control" placeholder="Enter your name" autocomplete="off" required>
                                 </div>
                                 <div class="mt-4">
                                  <div class="row">
                                      <div class="col-md-6"><label for="">Email</label>
                                          <input type="email" name="" id="" class="form-control" placeholder="abc@gmail.com" autocomplete="off" required></div>
                                      <div class="col-md-6"><label for="">Mobile No.</label>
                                          <input type="Number" name="" id="" class="form-control" placeholder="contact number" autocomplete="off" required></div>
                                  </div>
                                 </div>
                                 <div class="mt-4">
                                 <div class="row">
                                  <div class="col-md-6">
                                      <label for="">Gender</label>
                                      <select name="" id="" class="form-control">
                                          <option value="">Select</option>
                                          <option value="">Male</option>
                                          <option value="">Female</option>
                                          <option value="">Others</option>
                                      </select>
                                  </div>
                                  <div class="col-md-6">
                                      <label for="">Age</label>
                                      <input type="number" name="" id="" class="form-control">
                                  </div>
                                 </div>
                                 </div>
                                 <div class="mt-4">
                                  <label for="">Question/Feedback</label>
                                  <textarea name="" id="" class="form-control" placeholder="Ask your Question / Feedback" autocomplete="off" required></textarea>
                                 </div>
                                 <div class="mt-4">
                                  <button class="btn btn-info text-center text-white" type="submit"> Submit</button>
                                  <br><br>
                                 </div>
                              </form>
                          </div>
                          <div class="col-md-6 mt-5">
                              <img src="image/contact us.png" alt="" style="height: 570px;width:100%; border-radius:20px">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br><br><br><br>
       </div>
      <!-- main body ends -->

<%- include("./footer.ejs")%>