<!-- footer start -->
<div class="container-fluid mt-5" style="background:#e1d7d77a; border-bottom:1px solid black">
    <div class="row">
        <div class="col-md-5">
            <p style="padding-left: 10px;line-height: 80px;font-size: 23px;font-weight:400; color: #008000a3;">
                Get connect with us on Social networks</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4 icon">
            <i class="fa-brands fa-facebook-f ms-5"></i>
            <i class="fa-brands fa-x-twitter ms-5"></i>
            <i class="fa-brands fa-google ms-5"></i>
            <i class="fa-brands fa-instagram ms-5"></i>
            <i class="fa-brands fa-linkedin ms-5"></i>
            <i class="fa-brands fa-github ms-5"></i>
        </div>
    </div>
</div>
<div class="container-fluid" style="background:#0f0f0fc2;">
    <div class="row " style="padding-top: 20px;">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <img src="https://itmuniversity.ac.in/wp-content/uploads/2016/04/logo3.png" alt="">
            <p class="text-white mt-2" style="text-align: justify;">At ITM University Gwalior you get an opportunity
                to link your studies to your career plan and
                personal goals by using combination of compulsory credits, optional credits, self-learning credits,
                MOOC, non-cgpa credits for curricular and extra-curricular activities. Here you get enormous
                opportunity to share your ideas and domain expertise with industry leaders. Technically you can
                craft your own degree.</p>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="text-success ms-4 mt-3 mb-5" style="font-size: 35px;">Quick links</h1>
                    <ul style="list-style: none;text-align:justify; color:white;">
                        <li class="mt-4"><a href="#" class="nav-link text-white hov">Campus & location </a></li>
                        <li class="mt-4"><a href="#" class="nav-link text-white hov">Student Success</a></li>
                        <li class="mt-4"><a href="#" class="nav-link text-white hov">About Us</a></li>
                        <li class="mt-4"><a href="#" class="nav-link text-white hov">Get Involved</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h1 class="text-success ms-4" style="font-size: 35px;">External Resources</h1>
                    <ul style="list-style: none;text-align:justify; color:white;">
                        <li class="mt-4"><a href="#" class="nav-link text-white hov">Apply or transfer</a></li>
                        <li class="mt-4"><a href="#" class="nav-link text-white hov">Office of the president</a>
                        </li>
                        <li class="mt-4"><a href="#" class="nav-link text-white hov">Academin senate</a></li>
                        <li class="mt-4"><a href="#" class="nav-link text-white hov">Board of regents</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h1 class="text-success ms-4 mt-3 mb-5" style="font-size: 35px;">Contact</h1>
                    <ul style="list-style: none; text-align:justify; color:white">
                        <li><i class="fas fa-home"></i> NH-44,BypassTurari,
                            Jhansi Road Gwl (M.P.)
                            475001,(INDIA).</li>
                        <li><i class="fa-solid fa-envelope"></i> admission@itmuniversity.ac.in</li>
                        <li class="mt-4"><i class="fa-solid fa-phone"
                                style="margin-right:10px;"></i>06264865609,+91-7770854333 , +91-9399405170</li>
                        <li><i class="fa-solid fa-fax" style="margin-right:10px;"></i> 9691973919</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="container-fluid" style="background:#e1d7d77a; border-top:1px solid black">
    <div class="row">
        <p class="text-center" style="line-height:40px;  padding-top:10px; font-weight:600">&copy2024, COPYRIGHT: <b
                style="cursor: pointer; color:rgba(130, 24, 24, 0.849)">ITM UNIVERSITY</b></p>
    </div>
</div>
<!-- footer ends -->

</body>

</html>